n8n/fal-media-generator.json
{
  "name": "FAL Media Generator",
  "nodes": [
    {
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Airtable Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "fal-media-generator",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nconst platform = (d.platform || '').toLowerCase();\nconst contentType = (d.contentType || '').toLowerCase();\nconst isVideo =\n  (platform === 'instagram' && contentType.includes('reel')) ||\n  (platform === 'youtube' && contentType.includes('video'));\n\nconst DIMS = {\n  youtube:   { width: 1280, height: 720 },\n  instagram: { width: 1080, height: 1080 },\n  linkedin:  { width: 1200, height: 628 },\n  twitter:   { width: 1200, height: 675 },\n  email:     { width: 600,  height: 338 },\n  seo:       { width: 1200, height: 630 },\n};\nconst dims = DIMS[platform] || DIMS.seo;\n\nlet prompt = '';\nif (platform === 'youtube') {\n  prompt = `${d.thumbnailConcept || d.title}. Bold YouTube thumbnail style, high contrast, cinematic lighting, professional photography, 16:9 composition, attention-grabbing modern design. No rendered text in image.`;\n} else if (platform === 'instagram' && isVideo) {\n  prompt = `${d.visualDirection || d.body?.slice(0, 200) || d.title}. Smooth cinematic short video, lifestyle motion, natural fluid movement, high production quality, modern social video aesthetic, 9:16 vertical format.`;\n} else if (platform === 'instagram') {\n  prompt = `${d.visualDirection || ''}. ${d.body?.slice(0, 150) || ''}. Instagram editorial photography, lifestyle aesthetic, natural lighting, aspirational composition, warm color grading, square format.`;\n} else if (platform === 'linkedin') {\n  prompt = `${d.hook || d.title}. Professional ${d.postType || 'post'} visual for LinkedIn, corporate yet modern, clean minimal design, business context, neutral background, editorial photography style.`;\n} else if (platform === 'twitter') {\n  prompt = `${d.title}. ${d.body?.slice(0, 150) || ''}. Editorial news-style image, journalistic photography aesthetic, clean composition, high contrast, modern digital media style.`;\n} else if (platform === 'email') {\n  prompt = `${d.title}. Clean email marketing header for ${d.campaignType || 'campaign'}, professional lifestyle photography, wide letterbox composition, high-end aesthetic.`;\n} else {\n  prompt = `${d.targetKeyword || d.title}. ${d.title}. Editorial hero image for article, authoritative journalism photography style, clean wide composition, informational and trustworthy aesthetic.`;\n}\n\nconst MODEL_IMAGE = 'fal-ai/flux-pro/v1.1-ultra';\nconst MODEL_VIDEO = 'fal-ai/kling-video/v1.6/pro/text-to-video';\n\nreturn {\n  ...d,\n  prompt,\n  isVideo,\n  dims,\n  model: isVideo ? MODEL_VIDEO : MODEL_IMAGE,\n  falImageUrl: `https://fal.run/${MODEL_IMAGE}`,\n  falVideoUrl: `https://fal.run/${MODEL_VIDEO}`,\n  falVideoQueueBase: `https://queue.fal.run/${MODEL_VIDEO}/requests`,\n};"
      }
    },
    {
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Image or Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-video",
              "leftValue": "={{ $json.isVideo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "FAL Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.falImageUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.prompt, image_size: { width: $json.dims.width, height: $json.dims.height }, num_inference_steps: 28, guidance_scale: 3.5, num_images: 1, output_format: 'jpeg' }) }}",
        "options": {}
      }
    },
    {
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Extract Image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 160],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const imageUrl = $input.item.json.images?.[0]?.url;\nif (!imageUrl) throw new Error('FAL Flux returned no image URL. Response: ' + JSON.stringify($input.item.json));\nconst source = $('Build Prompt').item.json;\nreturn { ...source, generatedUrl: imageUrl };"
      }
    },
    {
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "FAL Generate Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 440],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nconst falKey = $env.FAL_KEY;\nif (!falKey) throw new Error('FAL_KEY environment variable not set');\n\n// Submit video job\nconst submitRes = await fetch(d.falVideoUrl, {\n  method: 'POST',\n  headers: {\n    'Authorization': `Key ${falKey}`,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    prompt: d.prompt,\n    duration: '5',\n    aspect_ratio: '9:16',\n    negative_prompt: 'blur, distortion, watermark, text overlay, low quality, pixelated',\n  }),\n});\nif (!submitRes.ok) {\n  const body = await submitRes.text();\n  throw new Error(`FAL video submit failed [${submitRes.status}]: ${body}`);\n}\nconst { request_id } = await submitRes.json();\nif (!request_id) throw new Error('FAL did not return a request_id');\n\n// Poll until complete (max 60 × 10s = 10 min)\nconst queueBase = d.falVideoQueueBase;\nlet videoUrl = null;\nfor (let i = 0; i < 60; i++) {\n  await new Promise(r => setTimeout(r, 10000));\n  const statusRes = await fetch(`${queueBase}/${request_id}/status`, {\n    headers: { 'Authorization': `Key ${falKey}` },\n  });\n  if (!statusRes.ok) continue;\n  const { status } = await statusRes.json();\n  if (status === 'COMPLETED') {\n    const resultRes = await fetch(`${queueBase}/${request_id}`, {\n      headers: { 'Authorization': `Key ${falKey}` },\n    });\n    const result = await resultRes.json();\n    videoUrl = result.video?.url;\n    break;\n  } else if (status === 'FAILED') {\n    throw new Error(`Kling video generation FAILED for record ${d.recordId}`);\n  }\n}\nif (!videoUrl) throw new Error(`FAL video timed out after 10 minutes for record ${d.recordId}`);\n\nreturn { ...d, generatedUrl: videoUrl };"
      }
    },
    {
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Airtable Update Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ encodeURIComponent($json.table) }}/{{ $json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { ImageUrl: $json.generatedUrl, Status: 'Media Ready' } }) }}",
        "options": {}
      }
    },
    {
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 580],
      "parameters": {}
    },
    {
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Extract Error Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 580],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pull original webhook data out of the failed execution\nconst runData = $json.execution?.data?.resultData?.runData;\nconst webhookRuns = runData?.['Airtable Webhook'];\nconst originalPayload = webhookRuns?.[0]?.data?.main?.[0]?.[0]?.json || {};\nconst failedNode = $json.execution?.lastNodeExecuted || 'Unknown node';\nconst errorMsg = $json.error?.message || 'Unknown error';\n\nreturn {\n  recordId: originalPayload.recordId || null,\n  table: originalPayload.table || null,\n  errorMessage: `${failedNode}: ${errorMsg}`,\n};"
      }
    },
    {
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Airtable Update Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 580],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ encodeURIComponent($json.table) }}/{{ $json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { PublishError: 'FAL error — ' + $json.errorMessage } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Airtable Webhook": {
      "main": [
        [
          { "node": "Build Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          { "node": "Image or Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "Image or Video": {
      "main": [
        [
          { "node": "FAL Generate Video", "type": "main", "index": 0 }
        ],
        [
          { "node": "FAL Generate Image", "type": "main", "index": 0 }
        ]
      ]
    },
    "FAL Generate Image": {
      "main": [
        [
          { "node": "Extract Image URL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          { "node": "Airtable Update Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "FAL Generate Video": {
      "main": [
        [
          { "node": "Airtable Update Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          { "node": "Extract Error Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Error Context": {
      "main": [
        [
          { "node": "Airtable Update Failure", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "content", "createdAt": "2026-03-10T00:00:00.000Z" },
    { "name": "fal-ai", "createdAt": "2026-03-10T00:00:00.000Z" },
    { "name": "airtable", "createdAt": "2026-03-10T00:00:00.000Z" }
  ]
}
